# Assignment-1 (09 May 2023)

Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
# String variable
my_string = "Hello, World!"
print(my_string)
print(type(my_string))

# List variable
my_list = [1, 2, 3, 4, 5]
print(my_list)
print(type(my_list))

# Float variable
my_float = 3.14
print(my_float)
print(type(my_float))

# Tuple variable
my_tuple = (10, 20, 30)
print(my_tuple)
print(type(my_tuple))

Hello, World!
<class 'str'>
[1, 2, 3, 4, 5]
<class 'list'>
3.14
<class 'float'>
(10, 20, 30)
<class 'tuple'>

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [8]:
var1 = ' '
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1.
print("\n")
print(f" Var 1 : {type(var1)}")
print(f" Var 2 : {type(var2)}")
print(f" Var 3 : {type(var3)}")
print(f" Var 4 : {type(var4)}")

 Var 1 : <class 'str'>
 Var 2 : <class 'str'>
 Var 3 : <class 'list'>
 Var 4 : <class 'float'>

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [13]:
# (i) / (Division Operator):-
# The / operator is used for division in Python, and it returns the quotient of dividing the left operand by the right operand. Example: - 
result = 10 / 2
print(f"Division Operator : {result}")

# (ii) % (Modulus Operator):
# The % operator is used for the modulus operation, which returns the remainder of dividing the left operand by the right operand. Example: - 
remainder = 10 % 3
print(f"Modulus Opearator: {remainder}")

#  (iii) // (Floor Division Operator):
# The // operator is used for floor division. It divides the left operand by the right operand and rounds down to the nearest integer. Example: -
result1 = 10 // 3
print(f"Floor Division Operator: {result1}")

# (iv) ** (Exponentiation Operator):
# The ** operator is used for exponentiation. It raises the left operand to the power of the right operand. Example: -
result2 = 2 ** 3
print(f"Exponentiation Operator: {result2}")

Division Operator : 5.0
Modulus Opearator: 1
Floor Division Operator: 3
Exponentiation Operator: 8

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [14]:
my_list = [1, 'Hello', 3.14, True, [1, 2, 3], {'name': 'John', 'age': 30}, None, (4, 5), False, 'World']

for item in my_list:
    print(f"Element: {item}, Data Type: {type(item)}")

Element: 1, Data Type: <class 'int'>
Element: Hello, Data Type: <class 'str'>
Element: 3.14, Data Type: <class 'float'>
Element: True, Data Type: <class 'bool'>
Element: [1, 2, 3], Data Type: <class 'list'>
Element: {'name': 'John', 'age': 30}, Data Type: <class 'dict'>
Element: None, Data Type: <class 'NoneType'>
Element: (4, 5), Data Type: <class 'tuple'>
Element: False, Data Type: <class 'bool'>
Element: World, Data Type: <class 'str'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [25]:
A = int(input("Enter the number A: "))
B = int(input("Enter the number B: "))

# Initialize a count variable to keep track of the number of divisions
count = 0

# Use a while loop to perform division until A is no longer divisible by B
while A % B == 0:
    A = A // B  # Divide A by B and update A
    count += 1   # Increment the count

# Check if A is completely divisible by B and print the result
if A == 0:
    print(f"{count} times, and the result is 0")
else:
    print(f"{count} times, and the remainder is {A}")

Enter the number A:  50
Enter the number B:  5

2 times, and the remainder is 2

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [26]:
my_list = [12, 6, 9, 14, 27, 18, 21, 8, 33, 5, 15, 30, 42, 11, 7, 36, 20, 4, 10, 22, 17, 25, 28, 3, 16]

for num in my_list:
    if num % 3 == 0:
        print(f"{num} is divisible by 3")
    else:
        print(f"{num} is not divisible by 3")

12 is divisible by 3
6 is divisible by 3
9 is divisible by 3
14 is not divisible by 3
27 is divisible by 3
18 is divisible by 3
21 is divisible by 3
8 is not divisible by 3
33 is divisible by 3
5 is not divisible by 3
15 is divisible by 3
30 is divisible by 3
42 is divisible by 3
11 is not divisible by 3
7 is not divisible by 3
36 is divisible by 3
20 is not divisible by 3
4 is not divisible by 3
10 is not divisible by 3
22 is not divisible by 3
17 is not divisible by 3
25 is not divisible by 3
28 is not divisible by 3
3 is divisible by 3
16 is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

In [27]:
my_tuple = (1, 2, 3)
print(my_tuple)  # Output: (1, 2, 3)

my_tuple = my_tuple + (4,58)
print(my_tuple)

(1, 2, 3)
(1, 2, 3, 4, 58)